* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  top: 0px;
  background: radial-gradient(
    circle,
    rgba(87, 147, 194, 0.2189250700280112) 0%,
    rgba(87, 147, 194, 1) 100%
  );
}

.info__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #679dc8;
  height: 10vh;
}

.dashboard {
  display: flex;

  justify-content: space-around;
  height: 80vh;
  background: linear-gradient(
    117deg,
    rgba(87, 147, 194, 0.28895308123249297) 0%,
    rgba(87, 147, 194, 1) 100%
  );
  &__card {
    width: 40%;
    padding: 15px;
    border-radius: 30px;
    background: radial-gradient(
      circle,
      rgba(87, 147, 194, 0.2189250700280112) 0%,
      rgba(87, 147, 194, 0.6727065826330532) 100%
    );
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &-mini {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
      margin-bottom: 20px;
      width: 50%;
      border-radius: 15px;
      background: radial-gradient(
        circle,
        rgba(87, 147, 194, 0.2189250700280112) 0%,
        rgba(87, 147, 194, 1) 100%
      );
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

      .mini__info {
        display: flex;
        width: 100%;
        justify-content: space-around;
        .temperature__wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          p {
            font-size: 12px;
          }
        }
      }
      .mini__details {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .mini__details-list {
          list-style-type: none;
          font-size: 12px;
        }
      }
    }

    &-forecast {
      display: flex;
      list-style-type: none;
      max-width: 100%;
      overflow: scroll;
      overflow-y: hidden;

      &::-webkit-scrollbar-thumb {
        background-color: blue;
      }
      .forecast__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        margin-inline: 5px;
        padding: 5px 10px;
        background: radial-gradient(circle, rgba(87, 147, 194, 0.218925) 0%, #5793c2 100%);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      }
    }
  }
}
